:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.video-player-wrapper {
  position: relative;
}

.bitrate-select {
  position: "absolute";
  top: "0";
  left: "0";
  outline: "none";
}
