input[type='range'] {
  height: 4px;
  border: none;
}

/* input[type='range']::-webkit-slider-runnable-track {
  background: white;
} */

/* input[type='range']::-webkit-slider-thumb {
  background: white;
  filter: hue-rotate(100deg);
} */

/* For WebKit-based browsers */
/* input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
} 
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
}
*/

.playerContainer * {
  outline: none;
}

.playerContainer button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s linear;
  color: white;
}

.playerContainer button:hover {
  opacity: 0.5;
  transition: 0.2s linear;
}

.playerContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  color: white;
}

.playerProgressRangeWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5;
  margin-bottom: 5px;
}

.playerProgressRange {
  width: 100%;
  margin-right: 10px;
}

.playerVolumeProgressRange {
  width: 100%;
}

.playerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000063;
}

.playerControls {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #00000063;
  padding: 10px 0;
}

.playerControlsMainWrapper {
  width: 100%;
  max-width: 97%;
  margin: auto;
  position: relative;
  left: -3px;
}

.playerControlsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin-top: -10px; */
  justify-content: space-between;
}

.playerControlIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playerDuration {
  /* color: #fff; */
  font-size: 14px;
  display: flex;
  align-items: center;
}

.playerQualitySelector {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.playerQualitySelector option {
  color: black;
}

.playerContainerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #0f0f0f94;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerContainerOverlaySpinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playerLogMessageContainerOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
}

.playerControlCol {
  display: flex;
  align-items: center;
}

.playerVolumeColWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .playerTitle {
    display: none;
  }
}
